
.container {
  text-align: center;
  margin-top: 150px;
}

#enter {
  display: block;
  margin: auto;
  /* animation: example 14s linear infinite; */
  animation-name: bounce, change-bg-color;
  animation-duration: 3s, 2s;
}
@keyframes bounce {

  from {
    top: 100px;
    animation-timing-function: ease-out;
  }

  25% {
    top: 50px;
    animation-timing-function: ease-in;
  }

  50% {
    top: 150px;
    animation-timing-function: ease-out;
  }

  75% {
    top: 75px;
    animation-timing-function: ease-in;
  }

  to {
    top: 100px;
  }

}

.madameChat {
  max-height: 800px;
  margin: auto;
  margin-top: -50px;
}
/* @keyframes example {
  0% {
    background-color: rgb(76, 175, 80);
    color:black;
  }
  25% {

  }
  50% {
    background-color: orange;
    color:white;
  }
  75% {

  }
  100% {
    background-color: rgb(76, 175, 80);
    color:black;
    transform:rotate(180deg);

  }
} */
h1 {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



/* .wrapper {  position: relative;  padding-top: 56.25%; /* 16:9 Aspect Ratio} */
/* .madameChat{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: contain; 
    position:absolute;
    z-index:-10; 
    /* position: absolute;  
    left: 0;  
    top: 0;  
    width: 100%;  
    height: auto; */
/* } */


/* .container {  
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 50px 50px;  
}
.container > div > img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
} */

/* h1{
    margin-top: 80px;
} */

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
    .madameChat{
        width: 100%;
        min-width: 100%;
        max-width: 100;
        position:absolute;
        z-index:-10; 
    }
 } */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
    
 } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */