
<div class="container">

  <div class="row">
    <div class="col-lg">
      <h1 class="text-center">
        Madame Minou Le Chat and her readings just with a click
      </h1>
    
    
      <input
        id="enter"
        type="button"
        class="btn btn-outline-success"
        [routerLink]="['/reading-room']"
        value="Enter"
      />
      <!-- class="madameChat" -->
      <img
        
        class="img-responsive"
        src="/assets/img/madame.jpg"
        alt="madame"
        height=200
        
      />
    
     
      <br />


    </div>

  </div>

</div>
