

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div *ngIf='yourCard'>
                <img  class="pickCard" src="/assets/img/beauty.jpg" alt='pickCard'>
                <!-- <img  class="pickCard" src="/assets/img/dreamstime_xs.jpg" alt='pickCard'> -->
            
            </div>
            <div *ngIf='!yourCard'>
                <!-- <img class="pickCard" src="/assets/img/click.jpg" alt='pickCard'> -->
                <!-- <img class="pickCard" src="/assets/img/dreamstime_xs.jpg" alt='pickCard'> -->
                <img class="pickCard" src="/assets/img/dreamstime_xs_3.jpg" alt='pickCard'>
            
            </div>

        </div>

        <div class="col-xl">
            <div class="cardsDown" *ngIf='yourCard'>
                <h1>{{yourReading}}</h1>
                <img class="img2" src="/assets/img/cards/{{yourCardImg}}.png" alt="card">
                <button (click)="shuffle()" type="button" class="btn btn-link">Shuffle</button>
            
            </div>
            <div class="placeholder" *ngIf='!yourCard'>
                
            
            </div>
            <h1 *ngIf='!yourCard'>Pick a Card</h1>

            <a (click)="read()"><img class="img1"  src="/assets/img/cards/back_cards-07.png" alt="redCard"></a>
        </div>

    </div>
</div>

 
