.pickCard{
    height:500px;
    margin:auto;
    opacity: 0.7;
    /* background-blend-mode: overlay; */
    /* float: left; */
}
#home{
  margin-right: 100%;
  outline: 1px solid rgb(12, 12, 212);
  border-radius: 50%;
  margin-bottom: 10px;
}
/* #blend1 img first-child {
    position: absolute;
    mix-blend-mode: darken;
  } */
  /* .color-overlay{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    position: absolute;
} */
.container{
    text-align:center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#pick{
    color: rgba(99, 240, 17, 0.829);
    font-size: 50px;
}

.img1{
  width: 90%;
}

.img2{
    width: 20%;
}

.placeholder{
  height: 230px;
}
.cardsDown{
  height: 270px;
}


h1 {
    margin-top: 20%;
    animation-name: slidein;
    animation-duration: 3s;
    z-index: 1;
    color: rgb(18, 219, 176);
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  


